@model IEnumerable<SoperStore2.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="serachByCat">
    <input name="catename" id="catename" class="form-control" type="text" />

   <button type="submit" class="btn btn-primary"> Serach</button>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="index" asp-route-sort="byname"> Name </a>
            </th>
            <th>
                <a asp-action="index" asp-route-sort="byprice"> Price </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}

<tr>
    <th>
        Total
    </th>
    <th>
        @ViewBag.total
    </th>
</tr>

    </tbody>
</table>
